@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #262626;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 86.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.product {
  background-color: #9C8554;
  color: #B2B2B2;
}

.info-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.625rem 0 2.5rem;
}

.info-product__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  letter-spacing: 0.5px;
  margin-top: 2.4375rem;
}

.info-product__title:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.description-product {
  margin-bottom: 2.5rem;
}

.description-product__text {
  line-height: 1.1875;
  letter-spacing: 0.5px;
}

.description-product__text:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.description-product__link {
  font-size: 0.75rem;
  line-height: 1.5833333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid #B2B2B2;
}

.img-product__images-ibg {
  padding-bottom: 64.6009389671%;
}

.img-product__title {
  margin-right: 2.5rem;
  font-size: 1.5625rem;
  line-height: 1.28;
  text-align: right;
  letter-spacing: 0.5px;
}

.product-card__item-ibg {
  padding-bottom: 111.1111111111%;
}

.product-card__link {
  font-size: 0.75rem;
  line-height: 1.5833333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid #262626;
  position: absolute;
  left: 2.5rem;
  bottom: 1.875rem;
}

.about-page {
  background-color: #EBEBEB;
}

.about-page__image {
  margin-left: 1.5625rem;
  margin-right: 1.875rem;
  padding-bottom: 71.3567839196%;
}

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 18.75rem;
}

.info-about__overhead {
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  letter-spacing: 0.5px;
}

.info-about__overhead:not(:last-child) {
  margin-bottom: 0.7333333333em;
}

.info-about__title {
  max-width: 18rem;
  font-size: 1.75rem;
  line-height: 1.1428571429;
  letter-spacing: 0.5px;
}

.info-about__title:not(:last-child) {
  margin-bottom: 1.3928571429em;
}

.info-about__subtitle {
  font-size: 0.875rem;
  line-height: 1.3571428571;
  letter-spacing: 0.5px;
}

.info-about__subtitle:not(:last-child) {
  margin-bottom: 1.4285714286em;
}

.info-about__text {
  line-height: 1.1875;
  letter-spacing: 0.5px;
}

.info-about__text:not(:last-child) {
  margin-bottom: 1.3125em;
}

.info-about__link {
  display: inline;
  font-size: 0.75rem;
  line-height: 1.5833333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
}

.perfume-page {
  background-color: #A26779;
}

.room-mist {
  position: relative;
}

.room-mist__image-ibg {
  padding-bottom: 30%;
  z-index: 1;
}

.room-mist__container {
  position: relative;
  z-index: 3;
}

.room-mist__body {
  padding-right: 0.9375rem;
  margin-left: 2.5rem;
  max-width: 17.5rem;
}

.room-mist__overhead {
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.room-mist__overhead:not(:last-child) {
  margin-bottom: 0.7333333333em;
}

.room-mist__title {
  font-size: 1.5625rem;
  line-height: 1.28;
  letter-spacing: 0.5px;
}

.room-mist__title:not(:last-child) {
  margin-bottom: 1.56em;
}

.room-mist__text {
  line-height: 1.1875;
  letter-spacing: 0.5px;
}

.room-mist__link {
  font-size: 0.6875rem;
  line-height: 1.7272727273;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid #262626;
}

.hand-wash-page {
  background: #504B4D;
}

.industry-page {
  background: #B04836;
}

.header {
  background-color: #E7F066;
}

.product-header__img-logo {
  position: relative;
}

.product-header__image-ibg {
  padding-bottom: 63.7037037037%;
}

.product-header__logo {
  position: absolute;
  top: 3.25%;
  left: 1.8055555556%;
  z-index: 2;
}

.product-header__text {
  position: absolute;
  left: 3.7037037037%;
  z-index: 2;
  font-size: 0.75rem;
  line-height: 1.0833333333;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  color: #EBEBEB;
}

.product-header__title {
  margin-left: 2.5rem;
  font-size: 1.5625rem;
  line-height: 1.28;
  letter-spacing: 0.5px;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-header__cart {
  position: relative;
  font-size: 0.8125rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0 3.4375rem 0 2.5rem;
}

.info-header__cart::before,
.info-header__cart::after {
  content: "";
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  background-color: #262626;
  position: absolute;
  top: 0.375rem;
  right: -2.8125rem;
}

.info-header__cart::after {
  top: 0.75rem;
}

.info-header__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.description-info-header {
  margin-left: 2.5rem;
}

.description-info-header:not(:last-child) {
  margin-bottom: 1.25rem;
}

.description-info-header__text {
  font-size: 0.875rem;
  line-height: 1.3571428571;
  letter-spacing: 0.5px;
}

.description-info-header__text:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.description-info-header__link {
  font-size: 0.75rem;
  line-height: 1.5833333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid #262626;
}

.cookies {
  background-color: #1b1b1b;
  padding: 2.9375rem 3rem;
}

.cookies__text {
  line-height: 1.1875;
  letter-spacing: 0.5px;
  color: #F1F1EE;
}

.cookies__link {
  font-size: 0.75rem;
  line-height: 1.5833333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #F1F1EE;
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid #F1F1EE;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  padding: 3.125rem 0;
  background-color: #262626;
  color: #CCCCCC;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  letter-spacing: 0.5px;
  padding: 0 2.5rem;
}

.footer__title::after {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ccc;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.0714285714em;
}

.footer__form {
  padding-left: 2.5rem;
}

.footer__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.input {
  color: #ccc;
  background-color: #262626;
  border-bottom: 1px solid #ccc;
  padding: 0px 1.25rem;
}

.input:not(:last-child) {
  margin-bottom: 0.625rem;
}

.input div {
  font-size: 0.875rem;
  line-height: 1.3571428571;
  letter-spacing: 0.5px;
}

.input._form-focus {
  outline: none;
}

.form__error {
  font-size: 0.625rem;
  color: red;
}

.button {
  font-size: 0.75rem;
  line-height: 1.5833333333;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@media (min-width: 47.99875em) {
  .about-page__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 56.9444444444% 43.0555555556%;
    grid-template-columns: 56.9444444444% 43.0555555556%;
  }
}

@media (min-width: 68.75em) {
  .product__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 26.0416666667% 73.9583333333%;
    grid-template-columns: 26.0416666667% 73.9583333333%;
  }

  .product-card__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% 25%;
    grid-template-columns: 75% 25%;
  }

  .info-header__menu {
    text-align: right;
    margin-top: 1.625rem;
  }

  .cookies {
    -webkit-transform: translateX(-47px) translateY(-47px);
        -ms-transform: translateX(-47px) translateY(-47px);
            transform: translateX(-47px) translateY(-47px);
  }
}

@media (min-width: 86.875em) {
  .img-product__title {
    margin-top: 2.5rem;
  }

  .img-product__title {
    padding-bottom: 2.5rem;
  }

  .about-page__image {
    margin-top: 7.25rem;
  }

  .about-page__image {
    margin-bottom: 7.25rem;
  }

  .room-mist__body {
    padding-top: 7.4375rem;
  }

  .product-header__text {
    top: 10.5rem;
  }

  .product-header__title {
    margin-top: 2.5rem;
  }

  .product-header__title {
    margin-bottom: 2.5rem;
  }

  .info-header__menu:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .img-product__title {
    margin-top: 1.25rem;
  }

  .img-product__title {
    padding-bottom: 1.25rem;
  }

  .about-page__image {
    margin-top: 3.125rem;
  }

  .about-page__image {
    margin-bottom: 3.125rem;
  }

  .room-mist__body {
    padding-top: 2.5rem;
  }

  .product-header__text {
    top: 3.125rem;
  }

  .product-header__title {
    margin-top: 1.25rem;
  }

  .product-header__title {
    margin-bottom: 1.25rem;
  }

  .info-header__menu:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 68.75em) {
  .cookies {
    padding-left: 2.5rem;
  }
}

@media (max-width: 47.99875em) {
  .info-about {
    margin-left: 1.5625rem;
  }
}

@media (min-width: 20em) and (max-width: 86.875em) {
@supports (margin-top: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .img-product__title {
      margin-top: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .img-product__title {
      margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .img-product__title {
      padding-bottom: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .img-product__title {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-top: clamp( 3.125rem , 1.8913551402rem  +  6.1682242991vw , 7.25rem )) {
    .about-page__image {
      margin-top: clamp( 3.125rem , 1.8913551402rem  +  6.1682242991vw , 7.25rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 1.8913551402rem  +  6.1682242991vw , 7.25rem )) {
    .about-page__image {
      margin-top: calc(3.125rem + 4.125 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.8913551402rem  +  6.1682242991vw , 7.25rem )) {
    .about-page__image {
      margin-bottom: clamp( 3.125rem , 1.8913551402rem  +  6.1682242991vw , 7.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.8913551402rem  +  6.1682242991vw , 7.25rem )) {
    .about-page__image {
      margin-bottom: calc(3.125rem + 4.125 * (100vw - 20rem) / 66.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.023364486rem  +  7.3831775701vw , 7.4375rem )) {
    .room-mist__body {
      padding-top: clamp( 2.5rem , 1.023364486rem  +  7.3831775701vw , 7.4375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.023364486rem  +  7.3831775701vw , 7.4375rem )) {
    .room-mist__body {
      padding-top: calc(2.5rem + 4.9375 * (100vw - 20rem) / 66.875);
    }
}

@supports (top: clamp( 3.125rem , 0.9193925234rem  +  11.0280373832vw , 10.5rem )) {
    .product-header__text {
      top: clamp( 3.125rem , 0.9193925234rem  +  11.0280373832vw , 10.5rem );
    }
}

@supports not (top: clamp( 3.125rem , 0.9193925234rem  +  11.0280373832vw , 10.5rem )) {
    .product-header__text {
      top: calc(3.125rem + 7.375 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .product-header__title {
      margin-top: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .product-header__title {
      margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .product-header__title {
      margin-bottom: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .product-header__title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 1rem , -0.1962616822rem  +  5.9813084112vw , 5rem )) {
    .info-header__menu:not(:last-child) {
      margin-bottom: clamp( 1rem , -0.1962616822rem  +  5.9813084112vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , -0.1962616822rem  +  5.9813084112vw , 5rem )) {
    .info-header__menu:not(:last-child) {
      margin-bottom: calc(1rem + 4 * (100vw - 20rem) / 66.875);
    }
}
}

@media (any-hover: hover) {
  .info-about__link:hover {
    text-decoration: underline;
  }
}